# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# VSCode settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# Logs
*.log

# dotenv
.env
.env.*

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# System
.DS_Store
Thumbs.db
